.card-basket {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #a8afbb;
  margin-top: 40px;
}

@media screen and (max-width: 1200px) {
  .card-basket {
    max-height: 189px;
  }
}

@media screen and (max-width: 750px) {
  .card-basket {
    flex-direction: column;
    /* max-width: 444px; */
    max-height: 680px;
    align-items: center;
  }

  .card-basket > :nth-child(3) {
    order: 2;
  }

  .card-basket > :nth-child(4) {
    order: 1;
  }

  .card-basket > :nth-child(5) {
    order: 3;
  }
}

.card-basket:first-of-type {
  margin-top: 0;
}

.card-basket__img-wrapper {
  width: 154px;
  margin-bottom: 33px;
  margin-right: 4%;
}

@media screen and (max-width: 1200px) {
  .card-basket__img-wrapper {
    margin-bottom: 3.2%;
  }
}

@media screen and (max-width: 750px) {
  .card-basket__img-wrapper {
    margin: 0;
    width: 410px;
    height: 399px;
  }
}

@media screen and (max-width: 579px) {
  .card-basket__img-wrapper {  
    width: 68%;
    height: 40%;
  }
}

.card-basket__img {
  min-height: 98%;
  max-height: 100%;
  background-size: cover;
}

@media screen and (max-width: 750px) {
  .card-basket__img {
    width: 410px;
    height: 399px;
  }
}

@media screen and (max-width: 579px) {
  .card-basket__img {
    width: 100%;
    height: 100%;
  }
}

.card-basket__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  margin-top: 64px;
  margin-bottom: 17px;
  max-width: 277px;
  min-height: 63px;
}

@media screen and (max-width: 1200px) {
  .card-basket__text {
    max-width: 29%;
  }
}

@media screen and (max-width: 750px) {
  .card-basket__text {
    max-width: 259px;
    min-height: 42px;
    margin: 17px auto 15px auto;
    text-align: center;
  }
}

@media screen and (max-width: 579px) {
  .card-basket__text {
    max-width: 243px;
    margin: 11px auto 15px auto;
  }
}


.card-basket__button {
  width: 41px;
  height: 41px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 59px;
  font-size: 16px;
}

.card-basket__button:hover {
  background-color: #296dc1;
  color: white;
}

@media screen and (max-width: 750px) {
  .card-basket__button {
    margin: 0;
    width: 171px;
    height: 40px;
    background-color: #296dc1;
    margin-top: 12px;
    margin-bottom: 29px;
    color: white;
  }
}

.card-basket__price {
  margin-top: 71px;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-right: 9%;
  white-space: nowrap;
}

@media screen and (max-width: 1600px) {
  .card-basket__price {
    margin-right: 6%;
  }
}

@media screen and (max-width: 1200px) {
  .card-basket__price {
    margin-right: 7%;
  }
}

@media screen and (max-width: 750px) {
  .card-basket__price {
    margin: 0;
  }
}

.card-basket__count {
  margin: 60px 13% auto 13%;
  display: flex;

  border: 0.5px solid #a8afbb;
  width: 157px;
}

@media screen and (max-width: 1600px) {
  .card-basket__count {
    margin: 60px 7.5% auto 5.5%;
  }
}

@media screen and (max-width: 1200px) {
  .card-basket__count {
    margin: 60px 8.5% auto 5.5%;
  }
}

@media screen and (max-width: 750px) {
  .card-basket__count {
    margin: 0;
    margin-top: 15px;
    width: 149px;
  }
}
