html,
body {
  min-height: 100vh;
  margin: 0;
}

.root {
  width: 100%;
  background: #fff;
  min-height: 100vh;
}

.page {
  font-family: "Montserrat", "Arial", "Helvetica Neue", sans-serif;
  font-style: normal;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 38px auto 0 auto;
  max-width: 1170px;
}

main {
  display: flex;
  flex-direction: column;
  /* margin: 0 auto; */
}

@media screen and (max-width: 580px) {
  .page {
    margin: 29px auto 0 auto;
  }
}

input:focus {
  border: 1px solid #4892ec;
}

 input:invalid {
  border: 1px solid #e86880;
} 
