.header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .header {
    width: 79.5%;
  }
}

@media screen and (max-width: 750px) {
  .header {
    width: 92%;
  }
}

@media screen and (max-width: 580px) {
  .header {
    width: 88%;
  }
}

.header__logo-container {
  width: 215px;
}

@media screen and (max-width: 580px) {
  .header__logo-container {
    width: 180px;
  }
}

.header__logo {
  width: 100%;
}

.header__img-basket {
  margin-bottom: 4px;
  margin-right: 10px;
}

@media screen and (max-width: 749px) {
  .header__img-basket {
    margin-top: 3px;
  }
}

.header__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-right: 12px;
}

@media screen and (max-width: 580px) {
  .header__text {
    display: none;
  }
}

.header__link {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  height: 100%;
}

.header__count {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  line-height: 18.5px;
  background-color: #00a82d;
  border-radius: 15px;
  width: 21px;
  height: 21px;
}
